<h3><%= @curriculum.name %></h3>

<p class="section-area">
  <div class="section-title">name</div>
  <%= @curriculum.name %>
</p>

<p class="section-area">
  <div class="section-title">description</div>
  <%= @curriculum.description %>
</p>

<p class="section-area">
  <div class="section-title">ratings</div>
  <%= @curriculum.min_rating == 0 ? "Unrated" : @curriculum.min_rating %> - <%= @curriculum.max_rating %>
</p>


<p class="section-area">
  <div class="section-title">active</div>
  <%= @curriculum.active ? "Yes" : "No" %>
</p>