<section class="hero index-hero" id="hero3">
  <div class="hero-inner">
    <div class="description">
      <h2>curriculums</h2>
    </div>
  </div>
</section>

<p id="notice"><%= notice %></p>

<div class="body-content">
  <div class="col s4">
    <h3>Curriculums</h3>
    <p>
      The camp syllabi and course content that students learn.
    </p>
    <% if logged_in? && ( current_user.role?(:admin) ) %>
      <h6><%= link_to '+ NEW CURRICULUM', new_curriculum_path %></h6>
    <% end %>
  </div>
  <div class="col s8">
      <% if @curriculums.empty? %>
        <h3>There are no curriculums in the system at this time</h3>
      <% else %>

        <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Ratings</th>
            <% if logged_in? && ( current_user.role?(:admin) ) %>
              <th>Times Used</th>
            <% end %>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @curriculums.each do |curriculum| %>
            <tr>
              <td><%= link_to curriculum.name, curriculum %></td>
              <td><%= curriculum.min_rating == 0 ? "Unrated" : curriculum.min_rating %> - <%= curriculum.max_rating %></td>
              <% if logged_in? && ( current_user.role?(:admin) ) %>
              <td><%= Camp.for_curriculum(curriculum.id).size %></td>

                <td><%= link_to 'Edit', edit_curriculum_path(curriculum), :class=>"btn waves-effect waves-light" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
  </div>
</div>