<h3><%= @student.proper_name %></h3>

<h5>Basic Information</h5>
<p><strong>Name: </strong><%= @student.proper_name %></p>
<p><strong>Family: </strong><%= link_to @student.family.family_name, family_path(@student.family) %></p>
<p><strong>Date of Birth: </strong><%= @student.date_of_birth %></p>
<p><strong>Rating: </strong><%= @student.rating %></p>
<p><strong>Active:</strong>
  <%= @student.active ? "Yes" : "No" %>
</p>