<table class="highlight">
  <thead>
    <th>Name</th>
    <th>Family</th>
    <th>Date of Birth</th>
    <th>Age</th>
    <th>Rating</th>
    <th>Active</th>
    <th class="align_center">Options</th>
  </thead>
  <% for s in @students %>
    <tr>
      <td><%= link_to s.name, student_path(s) %></td>
      <td><%= link_to s.family.family_name, family_path(s.family) %></td>
      <td><%= s.date_of_birth.strftime("%m/%d/%y") %></td>
      <td><%= s.age %></td>
      <td>&nbsp;<%= s.rating %></td>
      <td>&nbsp;<%= s.active ? "Yes" : "No" %></td>
      <td> <% if can? :edit, s %>
          <%= link_to edit_student_path(s) do %>
            <i class="material-icons">edit</i>
          <% end %> 
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<br />
<span class="paginate center">
    <%= will_paginate @students, :previous_label => "<", :next_label => ">", :param_name => 'students' %>
  </span>
<br/>