<div class="card lighten-2">
  <div class="card-content">
  Camp Details
    <span class="card-title"><%=@camp.curriculum.name%></span>

    <p><%= @camp.curriculum.description %></p>
    <br/>
    <div class="row">
      <div class="col s5">
        <p class="section-area">
          <div class="section-title">location</div>
          <%= @camp.location.name %>
        </p>
      </div>
      <div class="col s5">
        <p class="section-area">
          <div class="section-title">slots remaining</div>
          <%= @camp.max_students - @camp.registrations.count %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s5">
        <p class="section-area">
          <div class="section-title">dates</div>
          <%= @camp.start_date.strftime("%m/%d/%y") %> - <%= @camp.end_date.strftime("%m/%d/%y") %>
        </p>
      </div>
      <div class="col s5">
        <p class="section-area">
          <div class="section-title">time of day</div>
          <%= @camp.time_slot == "am" ? "Morning" : "Afternoon" %>
        </p>
      </div>
    </div>
    <p class="section-area">
      <div class="section-title">chess levels</div>
      <%= @camp.curriculum.min_rating %> - <%= @camp.curriculum.max_rating %>
    </p>
    <% if logged_in? && current_user.role?(:admin) && current_user.role?(:instructor) %>
      <p class="section-area">
        <div class="section-title">max enrollment</div>
        <%= @camp.active ? "camp is currently active" : "camp is currently inactive." %>
      </p>
      <p class="section-area">
        <div class="section-title">active</div>
        <%= @camp.active ? "camp is currently active" : "camp is currently inactive." %>
      </p>
    <% end %>
    <p class="section-area">
      <div class="section-title">cost</div>
      $<%= @camp.cost %>0
    </p>
  </div>
  <div class="card-action">
    <% if logged_in? && current_user.role?(:admin) %>
      <%= link_to 'Edit', edit_camp_path(@camp), :class=>"btn waves-effect waves-light", :id=>"edit-button" %>
    <% end %>
  </div>
</div>
