<div id="camp_instructor_handling">
  <%= hidden_field_tag "camp_id", @camp.id %>
  <% unless @instructors.empty? %>
    <div class="card indigo lighten-2">
      <div class="card-content white-text">
        <span class="card-title">Camp Instructors</span>
        <ul is='camp-instructor-row' 
            v-for="camp_instructor in camp_instructors" 
            v-bind:camp_instructor="camp_instructor"
            class="no_bullet">  
        </ul>
      </div>
      <% if can? :new, CampInstructor %>
        <div class="card-action">
          <!-- Could bind title based on state, but chance to show v-else directive -->
          <div v-if="modal_open">
            <%= link_to "Cancel camp instructor", "#", {%s(v-on:click) => "switch_modal()"} %>
          </div>
          <div v-else>
            <%= link_to "Add a new camp instructor", "#", {%s(v-on:click) => "switch_modal()"} %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <% if can? :new, CampInstructor %>
      <div class="card grey lighten-3">
        <div class="card-action">
          <!-- Note in class that message not consistent with activity -->
          <%= link_to "Add a new camp instructor", "#", {%s(v-on:click) => "switch_modal()"} %>
        </div>
      </div>
    <% end %>
  <% end %>  

  <div v-if="modal_open">
    <new-camp-instructor-form></new-camp-instructor-form>
  </div>

</div>


<!-- Defining Vue templates to work with components -->
<script type="text/x-template" id="camp-instructor-row">
</script>

<!--  much easier to include this complicated template here 
      rather than in the js file (IMO) -->
<script type="text/x-template" id="camp-instructor-form-template">
  <%= render "camp_camp_instructor_form_template", locals: {camp: @camp, instructor: @instructor, camp_instructor: CampInstructor.new} %>
</script>

