<h3>The <%= @family.family_name %> Family</h3>

<p class="section-area">
  <div class="section-title">username</div>
  <%= @family.username %>
</p>
<p class="section-area">
  <div class="section-title">emergency contact</div>
  <%= @family.parent_first_name %>
</p>
<p class="section-area">
  <div class="section-title">email</div>
  <%= @family.email %>
</p>
<p class="section-area">
  <div class="section-title">phone</div>
  <%= number_to_phone @family.phone %>
</p>
<p class="section-area">
  <div class="section-title">active</div>
  <p><strong>Active:</strong>
    <%= @family.active ? "Yes" : "No" %>
  </p>
</p>