<h3>The <%= @family.family_name %> Family</h3>

<h5>Basic Information</h5>
<p><strong>Emergency Contact: </strong><%= @family.parent_first_name %></p>
<p><strong>Email: </strong><%= @family.email %></p>
<p><strong>Phone: </strong><%= number_to_phone @family.phone %></p>
<p><strong>Username: </strong><%= @family.username %> </p>
<p><strong>Active:</strong>
  <%= @family.active ? "Yes" : "No" %>
</p>