<% unless @instructor.photo_url.nil? %>
    <p><%= image_tag @instructor.photo_url, class: "circle responsive-img" %></p>
<% end %>
<h3><%= @instructor.proper_name %></h3>
<p class="section-area">
  <div class="section-title">username</div>
  <%= @instructor.username %>
</p>
<p class="section-area">
  <div class="section-title">biography</div>
  <%= @instructor.bio %>
</p>
<p class="section-area">
  <div class="section-title">email</div>
  <%= @instructor.email %>
</p>
<p class="section-area">
  <div class="section-title">phone</div>
  <%= number_to_phone @instructor.phone %>
</p>
<p class="section-area">
  <div class="section-title">active</div>
  <%= @instructor.active ? "Yes" : "No" %>
</p>