<%= f.input :first_name, label_html: { class: 'active' } %>
<%= f.input :last_name, label_html: { class: 'active' } %>
<%= f.input :bio, label_html: { class: 'active' } %>
<div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
</div>
<%= f.input :active %>