<div class="body-content">
  <div class="row">
    <%= render :partial => "partials/back_button", locals: {model_name: "instructor", object: @instructor} %>
  </div>
  <div class="row">
    <div class="col s4">
      <%= render :partial => "instructor_details" %>
    </div>
    <div class="col s8">
      <%= render :partial => "partials/camps_list", locals: {camps: @upcoming_camps, state: "Upcoming"} %>
      <%= render :partial => "partials/camps_list", locals: {camps: @past_camps, state: "Past"} unless @past_camps.empty? %>
    </div>
</div>
<div class="row">
  <div class="col s12">
    <% if logged_in? && ( current_user.role?(:instructor) && @instructor == Instructor.where(user_id: current_user).first ) %>
      <%= link_to(edit_instructor_path(@instructor), class: 'waves-effect waves-light btn') do %>
        &nbsp;<%= "Edit Profile" %>
      <% end %>
    <% end %>
  </div>
</div>

