<nav>
  <div class="nav-wrapper">
    &nbsp&nbsp
    <a href="/" class="brand-logo">A&M Chess Camp</a>
    <ul class="right">
      <li><%= link_to "Curriculums", curriculums_path %></li>
      <li><%= link_to "Camps", camps_path %></li> 
      <li><%= link_to "Locations", locations_path %></li> 
      <li><%= link_to current_user.username, edit_user_path(current_user) %></li>
      <li><%= link_to "My Profile", edit_family_path(family_for(current_user)) %></li>
      <li><%= link_to 'Logout', logout_path %></li>
      <li>
        <%= link_to view_cart_path do %>
          <i class="material-icons left">shopping_cart</i>Cart
        <% end %>
      </li>
    </ul>
  </div>
</nav>