<div class="body-content">
    <h4>Welcome back, <%= current_user.username %>!</h4>
    <div id="dashboard-charts">
        <div class="row">
          <div class="col s3">
            <div class="card">
                <div class="card-content">
                  <div class="row box-panel">
                      <i class="material-icons medium box-icon" style="color: #0FA3B1;">attach_money</i>
                      <div class="box-content">
                        <h6><%= @revenue.round %></h6>
                        <div class="card-details">
                          revenue
                        </div>
                      </div>                  
                  </div>
                </div>
            </div>
          </div>
          <div class="col s3">
            <div class="card">
              <div class="card-content">
                <div class="row box-panel">
                  <i class="material-icons medium box-icon" style="color: #f7a072;">assignment</i>
                  <div class="box-content">
                    <h6><%= @registrations_count %></h6>
                    <div class="card-details">
                      registrations
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
          <div class="col s3">
            <div class="card">
              <div class="card-content">
                <div class="row box-panel">
                  <i class="material-icons medium box-icon" style="color: #68d8d6;">assignment_ind</i>
                  <div class="box-content">
                    <h6><%= @students_count %></h6>
                    <div class="card-details">
                      students
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
          <div class="col s3">
            <div class="card">
              <div class="card-content">
                <div class="row box-panel">
                  <i class="material-icons medium box-icon" style="color: #bcc4db;">group</i>
                  <div class="box-content">
                    <h6><%= @full_camps %> / <%= @all_camps %></h6>
                    <div class="card-details">
                      camps full
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
          <div class="col s3">
            <div class="card">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col s8">
                <div class="card">
                  <div class="card-content">
                    <span class="card-title">Most Used Curriculums</span>
                      <canvas id="curr-vs-camps"></canvas>
                  </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Checklist</span>
                         <form action="#" id="checklist">
                          <p>
                            <input type="checkbox" id="box1" />
                            <label for="box1">Approve timecards</label>
                          </p>
                          <p>
                            <input type="checkbox" id="box2" />
                            <label for="box2">Prepare supplies for students</label>
                          </p>
                          <p>
                            <input type="checkbox" id="box3" />
                            <label for="box3">Contact parents of students</label>
                          </p>
                          <p>
                            <input type="checkbox" id="box4" />
                            <label for="box4">Assign instructors</label>
                          </p>
                          <p>
                            <input type="checkbox" id="box4" />
                            <label for="box4">Advertise through schools</label>
                          </p>
                          <input type="text" placeholder="Task name"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div> 20%
            <div class="progress">
                <div class="determinate" style="width: 54%"></div>
            </div> 54%
            <div class="progress">
                <div class="determinate" style="width: 71%"></div>
            </div> 71%
            <div class="progress">
                <div class="determinate" style="width: 38%"></div>
            </div> 38%
        </div> -->
        <div class="row">
          <div class="col s4">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Recent Registrations</span>
                <table id="recent-registrations">
                  <thead>
                    <tr>
                      <th>Student</th>
                      <th>Camp</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @recent_registrations.each do |r| %>
                      <tr>
                        <td><%= link_to r.student.name, r.student %></td>
                        <td><%= link_to r.camp.name, r.camp %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col s4">
              <div class="card">
                  <div class="card-content">
                    USCF Rating Classes
                    <span class="card-title">Distribution of Student Ratings</span>
                      <canvas id="level-dist" style="margin-bottom: 12%;"></canvas>
                  </div>
              </div>
          </div>
          <div class="col s4">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Upcoming Camp Enrollment</span>
                  <% @enrollment_rates.each do |key, val| %>
                    <div class="progress-section">
                      <div class="progress">
                        <div class="determinate" style="width: <%= number_to_percentage(val * 100, precision: 0) %>;"></div>
                      </div> 
                      <span class="right"><%= number_to_percentage(val * 100, precision: 0) %></span>
                      <%= link_to key.name, key %>
                    </div>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById("curr-vs-camps").getContext('2d');
var chart1 = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: <%= raw @curriculums %>,
        datasets: [{
            data: <%= @curriculums_camps %>,
            backgroundColor:'rgba(15, 163, 177, 0.2)',
            borderColor: 'rgba(15, 163, 177, 1)'
        }]
    },
     options: {
        responsive: true,
        legend: {
            position: 'false',
            labels: {
                fontFamily: "'Sofia Pro', sans-serif"
            }
        },
        title: {
            display: false
        },
        scales: {
            yAxes: [
                {
                    ticks: 
                    {
                        fontSize: 12, fontFamily: "'Sofia Pro', sans-serif", fontColor: '#a6a6a6', fontStyle: '400'
                    },
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: '# of Camps',
                        fontFamily: "'Sofia Pro', sans-serif",
                        fontColor: '#a6a6a6', 
                        fontStyle: '400'
                    }
                }
            ],
            xAxes: [
                { 
                    display: false,
                    scaleLabel: {
                        display: false,
                    }
                }
            ]
        }
    }
});

var leveldist = document.getElementById("level-dist").getContext('2d');
var chart2 = new Chart(leveldist, {
    type: 'doughnut',
    data: {
        labels: <%= raw @rating_categories %>,
        datasets: [{
            data: <%= @student_ratings_count %>,
            backgroundColor: [
                'rgba(15, 163, 177, 1)',
                'rgba(247, 160, 114, 1)',
                'rgba(104, 216, 214, 1)',
                'rgba(188, 196, 219, 1)',
                'rgba(68, 69, 69, 1)',
                'rgba(247, 227, 114, 1)',
                'rgba(247, 160, 135, 1)',
                'rgba(216, 104, 106, 1)'


            ]
        }]
    },
     options: {
        responsive: true,
        legend: {
            display: false
        },
        title: {
            display: false
        },
        scales: {
          responsive: true,
          legend: {
              position: false,
          },
          title: {
              display: false
          },
          animation: {
              animateScale: true,
              animateRotate: true
          }
        }
    }
});
</script>

