<div class="body-content">
  <h4>Welcome back, <%= current_user.username %>!</h4>
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Your Camps</span>
          <div id="students-list">
            <% if @your_camps.empty? %>
              <p>No camp assignments at this time</p>
            <% else %>
              <% @your_camps.each do |c| %>
                <div class="camp-each">
                  <%= link_to c.name, c %><br/>
                  <span style="font-size: .9em"><%= c.start_date.strftime("%m/%d/%y")%> - <%= c.end_date.strftime("%m/%d/%y")%></span>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col s8">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Your Students</span>
          <% if @your_camps.empty? %>
            <p>No camps at this time</p>
            <% else %>
              <% for c in @your_camps %>
                <div class="student-section">
                <div class="student-title"><%= c.name %></div>
                  <table class="center">
                    <% if c.students.empty? %>
                      <p>No students at this time.</p>
                    <% else %>
                      <thead>
                        <th>Student</th>
                        <th>Rating</th>
                      </thead>
                      <% for s in c.students %>
                        <tr>
                          <td><%= link_to s.name, student_path(s) %></td>
                          <td><%= s.rating %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  </table>
                </div>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>

  </div>
</div>