<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>A&M Chess Camp - <%= controller.controller_name.capitalize %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if logged_in? && ( current_user.role?(:admin) ) %>
      <%= render :partial => "partials/nav" %>
    <% elsif logged_in? && current_user.role?(:parent) %>
      <%= render :partial => "partials/nav_family" %>
    <% elsif logged_in? && current_user.role?(:instructor) %>
      <%= render :partial => "partials/nav_instructor" %>
    <% else %>
      <%= render :partial => "partials/nav_guest" %>
    <% end %>
    
    <div class="row">
      <div class="container" id="main_content">
        <%= render :partial => "partials/flash" %>
        <%= yield %>
      </div>
    </div>
    <footer>
      <div class="center-align" id="footer">
        <%= render partial: 'partials/footer' %>
      </div>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
